{{> header }}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Manage your current decks</h1>
    <p class="lead">Add, remove, or edit your decks</p>
  </div>
</div>

{{> footer }}