{{> header }}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to your fftcg library</h1>
    <p class="lead">This will help you manage your vast collection of heroes</p>
  </div>
</div>
<div class="container">
    <p><a href="/library">Manage your library</a></p>
    <p><a href="/newCard">Add new cards to your library</a></p>
    <p><a href="/decks">Build a new deck</a></p>
</div>



{{> footer }}