{{> header }}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Card Library</h1>
    <p class="lead">Manage your collection, search for cards, add, remove, or edit current cards</p>
  </div>
</div>

{{> footer }}