{{> header }}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Add a New Card</h1>
    <p class="lead">Fill out all of the required fields and click "Add"</p>
  </div>
</div>

{{> footer }}