{{> header }}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Add a New Card</h1>
    <p class="lead">Fill out all of the required fields and click "Add"</p>
  </div>
</div>

<div class="container">

  <div class="row">
    <div style="width: 30%; margin: 25px auto;">
      <form action="/library" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="name" placeholder="Card Name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="cost" placeholder="Card Cost">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="element" placeholder="Card Element">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="role" placeholder="Card Role">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="job" placeholder="Card Job">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="category" placeholder="Card Category">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="text" placeholder="Card Text">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="power" placeholder="Card Power (optional)">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="opus" placeholder="Card Opus">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="rarity" placeholder="Card Rarity">
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block">ADD</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{> footer }}